.secondary-color {
    color: #642DFF;
}

.service-card{
    width: 250px;
    height: 160px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px;
    margin-bottom: 90px;
    /* position: absolute; */
    
}

.service-card:hover {
    border-color: #2D89FF;
    color: #2D89FF;
    cursor: pointer;
}

.service-logo{
    position: relative;
   left: 100px;
   top: 20px;
}