.nav-text{
    
    width: 400;
    size: 16px;
    line-height: 20px;
    /* color: #575757; */
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.nav-text :hover {
    color: #2D89FF !important;
}
