.banner-btn {
    background-color: #642DFF !important;
    position: relative;
    top: -150px;
    right: 180px;
    border-color:#642DFF !important;
    
}

.banner-img-section {
    position: absolute;
}
.banner-header {
    font-size: 60px;
    width: 600;
}

.cheack_logo{
    position: relative;
    top: 3px;
}